<!DOCTYPE html>
<!--
Autor: Timo Niese
Version: 0.0.10
Datum: 06.11.2019
-->

<!-- -->


#footer {					/* Definition vom Footer */
    text-align: center;
    color: black;
    font-weight: lighter;
    font-size: 30px;
    padding: 50px;
}
