/*
Autor: Timo Niese
Version: 0.0.10
Datum: 06.11.2019
*/ 

/* */

#unserteam{
    background-image: url("/bilder/background/service2.png");
    height: 1920px;
}

a {
    text-decoration: none;

}

